header{
	position: relative;
  width: 1152px;
	.img{
		position: absolute;
		z-index: 10;
	}
}

.m-nav{
  ul{
  	display: flex;
  	justify-content: flex-end;
  	margin-bottom: 50px;
  	li{
  		padding-top: 40px;
  		margin-left: 15px;
  		font: 14px bold; 
    }
  }
}
