// nav{
// 	position: relative;
// 	display: flex;
// 	justify-content: space-between;
//   .header {
// 	  display: flex;
//     li{
//   	  font: 14px bold;
//    	  margin :50px 10px;
//     }  
// }
//   .img{
//     position: absolute;
//   }
// }
header{
	position: relative;
	.img{
		position: absolute;
		z-index: 10;
	}
}

.m-nav{
  ul{
  	display: flex;
  	justify-content: flex-end;
  	margin-bottom: 50px;
  	li{
  		padding-top: 40px;
  		margin-left: 15px;
  		font: 14px bold; 
    }
  }
}
