body {
	max-width: 1152px;
	margin: 0 auto;
}

// main {
// 	width: 1152px;
// 	margin: 0 auto;
// }


.vmain {
	text-align: center;
}

.words {
	margin-top: 10px;
	font-size:14px; 
}

.vmain {
	position: relative;

	.imgtext {
		position: absolute;
		right: 2px;
		bottom: -46px;
	}
}
.sp-img{
	display: none;
}


.ctitle {
	padding: 70px 70px;
	font-size: 30px;
	text-align: center;
}

.post {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 50px;
	p {
		font-family: bold;
		font-size: 16px;
	}
}

.post-size {
	width: 320px;
	height: 400px;
	transition: 0.5s;
	&:hover {
		box-shadow: 0 0 8px gray;
	}
}

.unreade{
	position: relative;
	.read {
		position: absolute;
		right: 15px;
		bottom: 25px;
	}
}

.date {
	padding: 5px 0px 5px 5px;
}

.come {
	@extend .date;
}


.under {
	text-decoration: none;
	color: #000;
}

.read {
	position: relative;

}

.read::after {
	display: block;
	content: "";
	width: 15%;
	height: 2px;
	background: #000;
	position: absolute;
	right: 0;
	bottom: -13px;
	transition: .5s;
}

.read:hover::after {
	width: 100%;
}

@media screen and (max-width: 767px) {
	header {
		width: 100%;
		position: initial;
		text-align: center;
		.img {
			position: initial;
			z-index: initial;
			padding: 20px 0px;
		}
		.m-nav {
			display: none;
		}
	}

	.pc-img{
		display: none;
	}
	.sp-img{
		display: initial;
	}

	.vimg {
		width: 100%;
	}

	.vmain {
		position: relative;
    }

	.imgtext {
		position: absolute;
		left: 20px;
		top: 30px;
		width: 70%;
	}

	main {
		.words {
			font-size: 16px;
		}

		.ctitle {
			font-size: 16px bold;
		}

		.come {
			font-size: 16px;
		}

		.read {
			font-size: 12px;
		}

		.content {
			.post {
				display: flex;
				flex-direction: column;
				align-items: center;
				.post-size {
					margin-bottom: 20px;
				}
			}
		}
	}
	footer {
		width: 100%;
		text-align: center;
		.copy {
			font-size: 12px;
		}
	}
  }